@import '../../node_modules/@goodpraxis/components/src/scss/grid';

$current: currentColor;

.menu-inner {
  .menu-list a {
    color: $current;
  }

  .menu-list>li {
    @extend %grid;
    grid-row-gap: 0;
    // margin: 40px 8px 0;
    margin: 0;
    overflow: hidden;
    padding: 0;

    @media (min-width: $breakpoint-m) {
      // margin: 40px 16px 0;
      margin: 0;
    }
  }

  .menu-list-item {
    @extend %grid;
    box-sizing: border-box;
    grid-row-gap: 0;
    margin: 0;
    overflow: hidden;
    padding: 0 0 0 27.344%;
    width: 100%;

    @media (min-width: $breakpoint-s) {
      padding-left: 67px;
    }

    @media (min-width: $breakpoint-m) {
      margin: 0;
      padding-left: 0;
    }
  }

  .menu-list-item > a {
    align-items: center;
    display: flex;
    grid-column: 1 / span 2;

    @media (min-width: $breakpoint-m) {
      grid-column: 2 / span 3;
    }
  }
}

.menu-inner-top {
  font-size: 22px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;

  &.grid {
    grid-row-gap: 0;
  }

  @media (min-width: $breakpoint-l) {
    font-size: 30px;
    line-height: 33px;
  }
}

.menu-inner-company-name,
.menu-inner-company-description {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-m) {
    grid-column: auto;
  }
}

.menu-inner-company-description {
  text-transform: none;
}

.menu-inner-company-name > a {
  color: $current;
  text-decoration: none;
}

.menu-inner-company-description {
  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }
}

.grid.menu-inner-details {
  @media (min-width: $breakpoint-l) {
    grid-column: 2 / span 3;
  }
  padding-top: 124px;
}

.menu-inner-address,
.menu-inner-contact {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-s) {
    grid-column: auto;
  }
}

.menu-inner-contact {
  > .details-box:nth-child(n+3) {
    margin-top: 23px;
  }
}

.menu-inner-photo {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-m) {
    grid-column: 1;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: 2;
  }

  >img {
    display: block;
    mix-blend-mode: multiply;
    width: 100%;
  }
}

.menu-list-item>a {
  font-weight: 400;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-transform: none;
}

.menu-inner-logos {
  column-gap: 1em;
  display: grid;
  grid-template-columns: 2fr 2.6fr 1fr;
  opacity: .85;
  padding: 2em 1em;

  img {
    width: 100%;
  }

  .main-menu & {
    filter: grayscale(1);
    mix-blend-mode: multiply;
  }
}
