@import 'variables';

.menu-toggle {
  align-items: baseline;
  background: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 14px 8px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 99;

  @media (min-width: $breakpoint-m) {
    padding: 0;
    right: 16px;
    top: 14px;
  }

  &:active,
  &:focus {
    outline: 0;
  }

  rect {
    transition-duration: .4s;
    transition-property: transform, opacity;
  }

  rect:nth-child(1) {
    transform-origin: top right;
  }

  rect:nth-child(2) {
    transform-origin: center center;
  }

  rect:nth-child(3) {
    transform-origin: bottom right;
  }

  svg {
    height: 15px;

    // @media (min-width: $breakpoint-m) {
    //   margin-top: 7px;
    // }

    // @media (min-width: $breakpoint-l) {
    //   height: auto;
    //   margin-top: 0;
    // }
  }
}

.menu-toggle-label {
  display: none;

  @media (min-width: $breakpoint-l) {
    display: inline;
  }
}

.menu-toggle.is-open {
  .menu-toggle-label {
    opacity: 0;
  }

  rect:nth-child(1) {
    transform: rotate(-43deg) translate(-2px, -2px);
  }

  rect:nth-child(2) {
    opacity: 0;
    transform: scaleX(0);
  }

  rect:nth-child(3) {
    transform: rotate(43deg) translate(-2px, 2px);
  }
}

.menu-toggle-label {
  -webkit-font-smoothing: antialiased;
  margin-right: 10px;
  transition: opacity .2s;
}
