@import 'variables';

.project-page {
  position: relative;

  &::before {
    background: $black;
    box-sizing: border-box;
    content: '';
    display: block;
    height: 1px;
    left: 15px;
    position: absolute;
    right: 15px;
    top: 0;
  }

  video {
    max-width: 100%;
  }
}

.project-page-title,
.project-page-description {
  font-size: 24px;
  font-weight: 400;
  grid-column: 1 / span 2;
  line-height: 31px;

  @media (min-width: $breakpoint-m) {
    grid-column: 1 / span 3;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: 2 / span 2;
  }

  a {
    text-decoration: underline;
  }
}

.project-page-description.--more {
  @media (min-width: $breakpoint-m) {
    grid-column: 1 / span 4;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: 2 / span 3;
  }
}

.project-page-title {
  margin: 8px 0 45px;

  @media (min-width: $breakpoint-l) {
    font-size: 35px;
  }
}

.project-page-images {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / span 2;
  justify-content: space-between;

  @media (min-width: $breakpoint-m) {
    grid-column-end: span 4;
  }
}

.project-promo-image[src$='skindeep/promo-large.svg'] {
  width: 35%;
}

.project-page-details {
  grid-column: 1 / span 2;
  line-height: 24px;
  padding: 34px 0 0;

  @media (min-width: $breakpoint-m) {
    grid-column: 4;
    margin-bottom: 64px;
  }
}

.project-page-image {
  width: 100%;

  @media (min-width: $breakpoint-m) {
    width: calc(50% - 16px);
  }

  &~& {
    margin-top: 16px;

    @media (min-width: $breakpoint-m) {
      margin-top: 0;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  &.--main {
    width: 100%;
  }
}

