@import 'variables';

.project-work-list {
  column-gap: 33px;
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin: 50px 0 0;
  padding: 0;
  padding: 14px;
  row-gap: 50px;

  @media (min-width: $breakpoint-m) {
    grid-template-columns: 1fr 1fr;
  }
}
