@import 'variables';

.hero-image-with-text {
  margin: 0 8px;
  position: relative;

  @media (min-width: $breakpoint-m) {
    column-gap: 31px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}

.hero-image-with-text-copy {
  align-items: center;
  display: flex;
  font-size: 35px;
  font-weight: 400;

  a {
    background-color: $yellow;
    color: $inherit;
    padding: 0 .1em;
    position: relative;
    text-decoration: none;
  }

  a::after {
    background-color: $current-color;
    bottom: .1em;
    content: '';
    height: 3px;
    left: .1em;
    position: absolute;
    transition: width .2s;
    width: 0;
  }

  a:hover::after {
    width: calc(100% - .2em);
  }
}
