@font-face {
  font-display: fallback;
  font-family: 'CalibreWeb-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../../static/fonts/CalibreWeb-Regular.eot?#iefix') format('embedded-opentype'),
       url('../../static/fonts/CalibreWeb-Regular.woff') format('woff'),
       url('../../static/fonts/CalibreWeb-Regular.woff2') format('woff2');
}
