@import '../../node_modules/@goodpraxis/components/src/scss/variables';

$color-background: $white;
$color-text: $black;
$client-item-background: rgba(#95bcd1, .1);

$font-family-main: Calibre, Arial, sans-serif;


$svg-lines: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTExNyIgaGVpZ2h0PSIyNTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9InJnYmEoMCwwLDAsMC4wNSkiPjxwYXRoIGQ9Ik04MjkuOTM2IDIwMS4wN0w1NzQuNDk3IDUwbC0uNDMyLjkzTDgyOS41MDQgMjAybC40MzItLjkzek0yODcuMDY0IDIwMS4wN0w1NDIuNTAzIDUwbC40MzIuOTNMMjg3LjQ5NiAyMDJsLS40MzItLjkzek04NjEuMDY0IDIwMS4wN0wxMTE2LjUgNTBsLjQ0LjkzTDg2MS40OTYgMjAybC0uNDMyLS45M3pNMjU1LjkzNiAyMDEuMDdMLjQ5NzIzNyA1MGwtLjQzMjM4NTUuOTNMMjU1LjUwNCAyMDJsLjQzMi0uOTN6Ii8+PC9nPjwvc3ZnPg==';
