$black: #111;
$blue: #00a5ff;
$green: #cdffc9;
$grey-light: #e7e7e7;
$grey: #cfcfcf;
$pure-white: #fff;
$red: #f00;
$transparent-black: rgba(#000, .05);
$transparent-white: rgba(#fff, .1);
$white: #f4f8fa;
$yellow: #fbe072;
$inherit: inherit;

$svg-arrow-start: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iM';
$svg-arrow-part: 'IGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZ';

$svg-arrow: $svg-arrow-start + 'TMiIGhlaWdodD0iMTEi' + $svg-arrow-part + 'D0iTTYuNiA5LjdMNy44IDExIDEzIDUuNSA3LjggMCA2LjYgMS4zbDMuMSAzLjNIMHYxLjhoOS43bC0zIDMuM3oiIGZpbGw9IiMxMTEiLz48L3N2Zz4=';
$svg-arrow-large: $svg-arrow-start + 'zMiIGhlaWdodD0iMjUi' + $svg-arrow-part + 'mlsbD0iIzExMSIgZD0iTTIxLjMgMGwxMS42IDEyLjEtMi44IDNMMTguNSAzeiIvPjxwYXRoIGZpbGw9IiMxMTEiIGQ9Ik0yMS4zIDBsMTEuNiAxMi4xLTIuOCAzTDE4LjUgM3oiLz48cGF0aCBmaWxsPSIjMTExIiBkPSJNMTguNCAyMi4ybDExLjYtMTIgMyAyLjdMMjEuNCAyNXoiLz48cGF0aCBmaWxsPSIjMTExIiBkPSJNMCAxNC42aDI5LjlsLjEtNEguMXoiLz48L3N2Zz4=';

$breakpoint-s: 420px;
$breakpoint-m: 768px;
$breakpoint-l: 1024px;
$breakpoint-xl: 1280px;

$main-max-width: 1570px;

$color-background: $white;
$color-text: $black;
$client-item-background: rgba(#95bcd1, .1);
$item-background: rgba(149, 188, 209, .1);
$transparent: rgba(0, 0, 0, 0);

$font-family-main: Calibre, Arial, sans-serif;


$svg-lines: 'data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTExNyIgaGVpZ2h0PSIyNTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGZpbGw9InJnYmEoMCwwLDAsMC4wOCkiPjxwYXRoIGQ9Ik04MjkuOTM2IDIwMS4wN0w1NzQuNDk3IDUwbC0uNDMyLjkzTDgyOS41MDQgMjAybC40MzItLjkzek0yODcuMDY0IDIwMS4wN0w1NDIuNTAzIDUwbC40MzIuOTNMMjg3LjQ5NiAyMDJsLS40MzItLjkzek04NjEuMDY0IDIwMS4wN0wxMTE2LjUgNTBsLjQ0LjkzTDg2MS40OTYgMjAybC0uNDMyLS45M3pNMjU1LjkzNiAyMDEuMDdMLjQ5NzIzNyA1MGwtLjQzMjM4NTUuOTNMMjU1LjUwNCAyMDJsLjQzMi0uOTN6Ii8+PC9nPjwvc3ZnPg==';

$pure-black: #000;
$pute-white: #fff;
$current-color: currentColor;
