@import 'variables';

$line-color: $transparent-black;

.menu-list {
  background-image: repeating-linear-gradient(transparent, transparent 40px, $line-color 40px, $line-color 41px);
  border-top: 1px solid $black;
  counter-reset: menulist;
  font-size: 26px;
  font-weight: 500;
  line-height: 38px;
  list-style-type: none;
  margin: 0 8px;
  padding: 0;
  text-transform: uppercase;

  @media (min-width: $breakpoint-m) {
    margin: 0 16px;
  }

  @media (min-width: $breakpoint-l) {
    background-image: repeating-linear-gradient(transparent, transparent 59px, $line-color 59px, $line-color 60px);
    font-size: 35px;
    line-height: 38px;
  }

  a {
    color: $black;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
}

.menu-list-item {
  align-items: center;
  display: flex;
  height: 41px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $breakpoint-l) {
    height: 60px;
  }

  &:hover {
    background-color: rgba(0, 0, 0, .05);
    background-size: 4px;
  }

  a::before {
    align-self: baseline;
    content: counter(menulist);
    counter-increment: menulist;
    font-size: 18px;
    position: absolute;
    right: calc(100% + 1.5em);
  }

  &.is-active a::after {
    background-color: $blue;
    border-radius: 100%;
    content: '';
    display: inline-block;
    height: 12px;
    margin-left: .333em;
    width: 12px;
  }
}
