@import 'variables';

.header {
  font-weight: 500;
  position: relative;
  text-transform: uppercase;

  @media (min-width: $breakpoint-m) {
    height: 100px;
  }

  @media (min-width: $breakpoint-l) {
    height: 110px;
  }
}

.header-description {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }
}

footer {
  margin: 0 auto;
  max-width: $main-max-width;
  padding: 180px 0 0;
}
