@import 'variables';

.header {
  font-weight: 400;
  height: 67px;
  position: relative;
  text-transform: uppercase;
}

.header-description {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }
}

footer {
  margin: 0 auto;
  max-width: $main-max-width;
  padding: 80px 0 0;

  @media (min-width: $breakpoint-m) {
    padding-top: 180px;
  }
}
