@import 'variables';

.header {
  font-weight: 500;
  height: 110px;
  position: relative;
  text-transform: uppercase;
}

.header-description {
  grid-column: 2 / span 2;
}

footer {
  margin: 0 auto;
  max-width: $main-max-width;
  padding: 180px 0 106px;
}
