@import 'variables';
@import 'font-faces';
@import '../../node_modules/@goodpraxis/components/src/scss/grid';

.grid {
  @extend %grid;
}

.grid-lines {
  @extend %grid-lines;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family-main;
  font-weight: 400;
  margin: 0 8px;

  @media (min-width: 768px) {
    margin: 0 15px;
  }
}

h1,
h2,
h3 {
  font: inherit;
  margin: 0;
}

a {
  color: $current-color;
  text-decoration-thickness: 1px;
}

main {
  margin: 0 auto;
  max-width: $main-max-width;
  position: relative;
}

.project-promos > .project-promo {
  margin-top: 8px;

  @media (min-width: $breakpoint-m) {
    margin-top: 15px;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 30px;
  }
}

.hero-area {
  margin: 94px 0;
}

.heading {
  font-size: 26px;
  font-weight: 500;
  grid-column: 1 / span 2;
  line-height: 28px;
  margin: 0;

  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 35px;
    line-height: 38px;
  }
}

.main-description {
  font-size: 25px;
  font-weight: 400;
  grid-column: 1 / span 2;
  line-height: 30px;

  >p:first-child {
    margin-top: 0;
  }
}

.team-area {
  .heading {
    grid-column: 1 / span 2;

    @media (min-width: $breakpoint-l) {
      grid-column: 2 / span 3;
    }
  }

  .item-list {
    grid-column: 1 / span 2;
    margin: 0 -8px;

    @media (min-width: $breakpoint-m) {
      grid-column: 2 / span 2;
      margin: 0 -16px;
    }

    @media (min-width: $breakpoint-l) {
      grid-column: 1 / span 4;
    }
  }
}

hr {
  background-image: url($svg-lines);
  background-size: 205.8%;
  border: 0;
  margin: 0 8px;
  padding: 0 0 40.1%;

  @media (min-width: $breakpoint-m) {
    background-size: 134.4%;
    margin: 0 15px;
    padding: 0 0 26.1%;
  }

  @media (min-width: $breakpoint-l) {
    background-size: 100%;
    padding: 0 0 22.1%;
  }
}

.not-found-area {
  font-size: 128px;

  .not-found-smaller {
    font-size: 40px;
    width: 100%;

    @media (min-width: $breakpoint-m) {
      font-size: 72px;
    }
  }

  @media (min-width: $breakpoint-l) {
    > div:first-child() {
      grid-column: 2;
    }
  }

  &.grid {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-m) {
      display: grid;
    }
  }
}

.hero-title {
  font-size: 30px;
  font-weight: 400;
  line-height: 1em;
  padding: 26px 15px 35px;
  position: relative;

  @media (min-width: $breakpoint-m) {
    font-size: 35px;
    line-height: 41px;
    padding: 43px 15px 72px calc(50% + 15px);
  }

  &::after {
    background-color: $yellow;
    border-radius: 50%;
    bottom: -23px;
    content: '';
    height: 46px;
    left: calc(50% - 23px);
    position: absolute;
    width: 46px;
  }
}

.hero-area {
  .main-description {

    @media (min-width: $breakpoint-l) {
      grid-column: 3 / span 2;
    }
  }
}

.studio-description {
  margin-top: 85px;
}

.studio-side-image {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: 3 / span 2;
  }
}

.header-title a {
  display: block;
  position: relative;
  text-decoration-thickness: 1px;
}

.bar-link {
  text-decoration-thickness: 1px;
}

.plain-list {
  list-style-type: none;
}

.contact-us {
  grid-column: 1/span 2;
}
