@import 'variables';
@import 'font-faces';
@import '../../node_modules/@goodpraxis/components/src/scss/grid';

.grid {
  @extend %grid;
}

.grid-lines {
  @extend %grid-lines;
}

body {
  background: $color-background;
  color: $color-text;
  font-family: $font-family-main;
  font-weight: 400;
  margin: 0 8px;

  @media (min-width: 768px) {
    margin: 0 15px;
  }
}

h1,
h2,
h3 {
  font: inherit;
  margin: 0;
}

a {
  color: $current-color;
  text-decoration-thickness: 1px;
}

main {
  margin: 0 auto;
  max-width: $main-max-width;
  position: relative;
}

.project-promos > .project-promo {
  margin-top: 8px;

  @media (min-width: $breakpoint-m) {
    margin-top: 15px;
  }

  @media (min-width: $breakpoint-xl) {
    margin-top: 30px;
  }
}

.hero-area {
  margin: 34px 0;
}

.heading {
  font-size: 26px;
  font-weight: 500;
  grid-column: 1 / span 2;
  line-height: 28px;
  margin: 0;

  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }

  @media (min-width: $breakpoint-xl) {
    font-size: 35px;
    line-height: 38px;
  }
}

.main-description {
  font-size: 25px;
  font-weight: 400;
  grid-column: span 2;
  line-height: 30px;

  >p:first-child {
    margin-top: 0;
  }

  .hero-area &.main-cta {
    @media (min-width: $breakpoint-l) {
      grid-column: 3 / span 2;
    }
  }
}

.team-area {
  .heading {
    grid-column: 1 / span 2;

    @media (min-width: $breakpoint-l) {
      grid-column: 2 / span 3;
    }
  }

  .item-list {
    grid-column: 1 / span 2;
    margin: 0 -8px;

    @media (min-width: $breakpoint-m) {
      grid-column: 2 / span 2;
      margin: 0 -16px;
    }

    @media (min-width: $breakpoint-l) {
      grid-column: 1 / span 4;
    }
  }
}

hr {
  background-image: url($svg-lines);
  background-size: 205.8%;
  border: 0;
  margin: 0 8px;
  padding: 0 0 40.1%;

  @media (min-width: $breakpoint-m) {
    background-size: 134.4%;
    margin: 0 15px;
    padding: 0 0 26.1%;
  }

  @media (min-width: $breakpoint-l) {
    background-size: 100%;
    padding: 0 0 22.1%;
  }
}

.not-found-area {
  font-size: 128px;

  .not-found-smaller {
    font-size: 40px;
    width: 100%;

    @media (min-width: $breakpoint-m) {
      font-size: 72px;
    }
  }

  @media (min-width: $breakpoint-l) {
    > div:first-child() {
      grid-column: 2;
    }
  }

  &.grid {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-m) {
      display: grid;
    }
  }
}

.hero-title {
  font-size: 35px;
  font-weight: 400;
  grid-column: span 2;
  line-height: 1em;
  position: relative;

  @media (min-width: $breakpoint-m) {
    border-top: 0;
    grid-column: span 3;
    line-height: 41px;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: 3 / span 2;
    grid-row: 1;
    order: 2;
  }

  a {
    background-color: $yellow;
    color: $inherit;
    padding: 0 .1em;
    position: relative;
    text-decoration: none;
  }

  a::after {
    background-color: $current-color;
    bottom: .1em;
    content: '';
    height: 3px;
    left: .1em;
    position: absolute;
    transition: width .125s;
    width: 0;
  }

  a:hover::after {
    width: calc(100% - .2em);
  }
}

.hero-area {
  .main-description {

    @media (min-width: $breakpoint-l) {
      grid-column: 1 / span 2;
      grid-row: span 3;
    }
  }
}

.studio-description {
  @media (min-width: $breakpoint-m) {
    margin-top: 85px;
  }
}

.studio-side-image {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: 3 / span 2;
  }

  .gatsby-image-wrapper~.gatsby-image-wrapper {
    margin-top: 2em;
  }
}


.gather-side-image {
  grid-column: 1 / span 2;

  @media (min-width: $breakpoint-m) {
    grid-column: 2 / span 2;
  }

  @media (min-width: $breakpoint-l) {
    grid-column: 1 / span 2;
  }
}

.header-title a {
  display: block;
  position: relative;
  text-decoration-thickness: 1px;
}

.bar-link {
  text-decoration-thickness: 1px;
}

.plain-list {
  list-style-type: none;
}

.contact-us {
  animation: contactus 1s;
  grid-column: 1/span 2;
  margin-top: -2em;
  padding-top: 2em;
}

.policy {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  padding: 20px;

  @media (min-width: $breakpoint-l) {
    column-count: 2;
    column-fill: balance;
    column-gap: 40px;
  }

  p {
    margin-bottom: 20px;
    margin-top: 0;
  }
}


.policy-footnote {
  font-size: 22px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 0;
  padding: 20px;
}

.policy-title {
  margin-bottom: 30px;
  padding: 20px;
}

.plain-link {
  text-decoration: none;
}

.policy-list {
  margin-top: 0;

  >li {
    margin: .5em 0;
  }

  >li:first-child {
    margin-top: 0;
  }
}

.services-text {
  font-size: 23px;
}

.recent-work-heading {
  grid-column: 1 / span 2;
}

.hero-video-logo {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    height: 120px;

    @media (min-width: $breakpoint-m) {
      height: 254px;
    }
  }

  &.--right {
    left: initial;
    right: 0;
    transform: translateY(-50%) rotate(180deg);
  }
}

.home-page-contact-us {
  hr {
    display: none;
    @media (min-width: $breakpoint-l) {
      aspect-ratio: 6;
      background-size: 206%;
      display: block;
      grid-column: span 2;
      margin: -7.75% 0 0;
    }
  }

  .contact-us {
    @media (min-width: $breakpoint-l) {
      grid-column: 3 / span 2;
    }
  }
}


@keyframes contactus {
  0%,
  100% {
    background: rgba($yellow, 0);
  }

  50% {
    background: $yellow;
  }
}

@media (prefers-reduced-motion) {
  .circle-logo.-animated {
    animation: none !important;
  }

  .main-menu {
    transition: none !important;
  }
}
