@import 'variables';

.hero-video {
  background-color: $pure-white;
  display: block;
  overflow: hidden;
  position: relative;
}

.hero-video-player {
  display: block;
  height: 200px;
  left: -1px;
  max-height: 860px;
  object-fit: cover;
  position: relative;
  width: calc(100% + 2px);

  @media (min-width: $breakpoint-m) {
    height: calc(100vh - 265px);
  }
}

.hero-video-logo {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  svg {
    height: 120px;

    @media (min-width: $breakpoint-m) {
      height: 254px;
    }
  }
}
